@using Microsoft.AspNet.Identity
@model RecipiesMVC.Models.ManageUserViewModel



@using (Html.BeginForm("Manage", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div>
        @Html.LabelFor(m => m.OldPassword)
        <div>
            @Html.PasswordFor(m => m.OldPassword)
        </div>
    </div>
    <div>
        @Html.LabelFor(m => m.NewPassword)
        <div>
            @Html.PasswordFor(m => m.NewPassword)
        </div>
    </div>
    <div>
        @Html.LabelFor(m => m.ConfirmPassword)
        <div>
            @Html.PasswordFor(m => m.ConfirmPassword)
        </div>
    </div>

    <div>
        <div>
            <input type="submit" value="Change password" />
        </div>
    </div>
}
