@using RecipiesMVC.Models;
@model LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<section id="loginForm">
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <table>
            <tr>
                <td>@Html.LabelFor(m => m.UserName, new { @class = "k-label" })</td>
                <td>@Html.TextBoxFor(m => m.UserName)</td>
                <td>@Html.ValidationMessageFor(m => m.UserName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Password, new { @class = "k-label" })</td>
                <td>@Html.PasswordFor(m => m.Password, new { @class = "k-textbox" })</td>
                <td>@Html.ValidationMessageFor(m => m.Password)</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.CheckBoxFor(m => m.RememberMe, new { @class = "k-checkbox" })
                    @Html.LabelFor(m => m.RememberMe, new { @class = "k-label" })
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Log in" class="k-button" /></td>
                <td></td>
            </tr>
        </table>
    }
</section>
