@using System.Web.Optimization
@using Kendo.Mvc.UI
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/favicon.ico" />
    <link href="~/Content/AllCSS.css" rel="stylesheet" />
    <script src="~/Scripts/JQuery/AllJS.js"></script>
    @*@Styles.Render("~/Content/ThisMustBeHere")*@
    @*<script src="~/Scripts/JQuery/jquery-2.1.0.min.js"></script>*@
    @*@Scripts.Render("~/js")*@
</head>
<body>
    <header>
        @(Html.Kendo().Menu()
            .Name("Menu")
            .BindTo("sitemap").Items(children =>
            {
                children.Add().Text("You're logged in as " + @User.Identity.GetUserName()).Items(innerChildren =>
                {
                    innerChildren.Add().Text("Manage your account").Action("Manage", "Account");
                    innerChildren.Add().Text("Log out").Action("LogOff", "Account");
                });
            })
            .SecurityTrimming(false) // causes EXTREMELY slow debugging.
              )
        <span id="centeredNotification" style="display:none;"></span>
        <span id="popupNotification" style="display:none;"></span>
    </header>

    <div id="body">
        @RenderSection("featured", required: false)
        @RenderBody()
    </div>
    <footer>
        <script type="text/javascript">
            $(document).ready(function () {

                var centered = $("#centeredNotification").kendoNotification({
                    hideOnClick: false,
                    stacking: "down",
                    show: onShow,
                    button: true,
                    autoHideAfter: 30000
                }).data("kendoNotification");

                $("#popupNotification").kendoNotification().data("kendoNotification");

                function onShow(e) {
                    if (!$("." + e.sender._guid)[1]) {
                        var element = e.element.parent(),
                            eWidth = element.width(),
                            eHeight = element.height(),
                            wWidth = $(window).width(),
                            wHeight = $(window).height(),
                            newTop, newLeft;

                        newLeft = Math.floor(wWidth / 2 - eWidth / 2);
                        newTop = Math.floor(wHeight / 2 - eHeight / 2);

                        e.element.parent().css({ top: newTop, left: newLeft });
                    }
                }
            });

           
        </script>
    </footer>
</body>
</html>