@using System.Web.Optimization
@using Kendo.Mvc.UI
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    @Styles.Render("~/Content/ThisMustBeHere")
    <script src="~/Scripts/JQuery/jquery-2.1.0.min.js"></script>
    @Scripts.Render("~/js")
</head>
<body>
    <header>
        @(Html.Kendo().Menu()
            .Name("Menu")
            .BindTo("sitemap").Items(children =>
            {
                children.Add().Text("You're logged in as " + @User.Identity.GetUserName()).Items(innerChildren =>
                {
                    innerChildren.Add().Text("Manage your account").Action("Manage", "Account");
                    innerChildren.Add().Text("Log out").Action("LogOff", "Account");
                });
            })
            .SecurityTrimming(false) // causes EXTREMELY slow debugging.
        )
        <span id="popupNotification"></span>
    </header>

    <div id="body">
        @RenderSection("featured", required: false)
        @RenderBody()
    </div>
    <footer>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#popupNotification").kendoNotification().data("kendoNotification");
            });
        </script>
    </footer>
</body>
</html>